@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,600,700&subset=latin,latin-ext')
$skinFontFamily: 'Source Sans Pro', sans-serif !default

$background: #fff !default
$appLogo: $background image-url("active_skin/default_logo.png") no-repeat 30px 2px !default
$headerColor: #f4f7fb !default
$fontSize: 13px !default
$dangerColor: #ec5e68 !default
$inactiveColor: #a89e9e !default
$textColor: #3b4755 !default
$textHoverColor: #222 !default
$borderColor: #d3d8dc !default

$skinTextColor: #1e2a33 !default
$skinTextActiveColor: #fff !default
$skinTextTable: #7f8c8d !default
$skinActiveColor: #5a68c7 !default
$skinHeaderBck: #1e2a33 !default
$panelHeaderBck: #2c3e50 !default
$panelHeaderTextColor: #FFFFFF !default

html
  background: $background
  font-family: $skinFontFamily

body.active_admin
  background: $background
  font-family: $skinFontFamily
  padding-bottom: 80px

#header
  background: $headerColor
  border-bottom: 1px solid #dfe3e6
  text-shadow: none
  height: 35px
  .header-item
    .current a
      border-radius: 0
      border-bottom: 3px solid $skinActiveColor
  h1.site_title
    background-color: $background
    background: $appLogo
    padding-left: 130px
    color: $skinTextColor
    text-indent: -999999px
  a, a:link
    color: #768999
    font-weight: 500
    font-size: $fontSize
  ul.tabs
    padding: 0
    font-size: 0
  ul.tabs > li:hover > a, ul.tabs > li.current > a
    color: $textHoverColor
    background: none
    margin: -10px 0
  ul.tabs > li
    font-size: $fontSize
    margin: 0
    a
      padding: 10px 16px
      margin: 0
  ul.tabs > li.has_nested a
    background-position: 93% 50%
  ul.tabs > li.has_nested:hover
    a
      border-radius: 0
      background-color: $skinActiveColor
      border: none
      background-position: 93% 50%
    ul
      background: $skinActiveColor
      box-shadow: none
      border-radius: 0
      border: none
      li a
        color: #fff
        &:hover
          color: $skinTextColor
  ul.tabs > li.has_nested.current a
    background-color: $skinActiveColor
    background-position: 93% 50%

  #utility_nav
    background: $headerColor
    padding: 0
    li#logout a
      font-weight: bold
      text-decoration: underline
      &:hover
        text-decoration: none
    li a
      &:hover
        background: none
        color: $skinTextColor


#title_bar
  background: $background
  text-shadow: none
  border: none
  padding: 10px 30px 0
  box-shadow: none
  h2
    color: $textColor
    font-size: 2.1em
  .action_items a,
  .action_items span.action_item
    & > a, & > .dropdown_menu > a
      background: $skinActiveColor
      border-radius: 4px
      color: $background
      box-shadow: none
      text-shadow: none
      border: none
      padding: 13px 18px
      margin-left: 3px
      font-size: $fontSize
      font-weight: 400
      &:hover
        background: lighten( $skinActiveColor, 10% ) !important


#active_admin_content
  @include clearfix
  .table_tools
    height: 30px
  .panel
    font-size: $fontSize
    border-radius: 0
    background: $background
    h3
      padding: 15px
      background: #f4f7fb
      border: 1px #e6e9ec
      border-style: none none solid none
      color: $textColor
    a
      color: $textColor
    a:hover
      color: $textHoverColor
    th
      width: 250px
  .panel_contents
    overflow-x: hidden
  a.table_tools_button, .table_tools .dropdown_menu_button
    box-shadow: none
    color: $skinTextColor
    background: $background
    border-radius: 4px
    padding: 7px 15px
    margin-left: 0
    margin-right: 5px
    font-weight: normal
    font-size: $fontSize
    text-shadow: none
  .table_tools_segmented_control li
    a
      box-shadow: none
      color: $skinTextColor
      background: #fff
      padding: 7px 15px
      font-weight: normal
      text-shadow: none
      border-color: #d3d8dc
      span.count
        color: $skinActiveColor
    &.selected
      a
        color: #fff
        background-color: $skinActiveColor
        span.count
          color: #fff

#main_content
  .cancel a
    border-radius: 4px
    background: $background
    font-weight: 400
    font-size: $fontSize
    &:hover
      border-color: $skinActiveColor
      color: $skinActiveColor
  fieldset
    padding: 20px
  input
    font-size: $fontSize


table.index_table
  border: 1px solid #d3d8dc
  background: $background
  font-size: $fontSize
  th
    font-size: $fontSize
    background: #ebeef5
    border: 1px #e6e9ec
    border-style: none none solid none
    padding: 14px 10px
    box-shadow: none
    color: $skinTextColor
    a, a:link, a:visited
      color: $skinTextColor
    &:last-child
      border-right: none
  td
    font-size: $fontSize
    color: $skinTextTable
    padding: 18px 10px
    a, a:link, a:visited
      text-decoration: none
      color: $skinTextTable
      display: inline-block
      &:hover
        color: $textHoverColor
  tr.even td
    background: $background


// Tags
.status_tag
  border-radius: 4px
  padding: 5px 8px

.status_tag.no
  background: $inactiveColor

.status_tag.yes
  background: $skinActiveColor

.download_links
  color: $skinTextTable
  font-size: $fontSize
  a
    color: $skinActiveColor
    font-weight: bold
.pagination_information
  font-size: $fontSize
  color: $skinTextTable
.pagination
  margin-top: -2px
  a, span.page.current
    font-family: $skinFontFamily
    border: 1px solid #d3d8dc
    background: $background
    box-shadow: none
    text-shadow: none
    font-size: $fontSize
    font-weight: normal
    padding: 4px 6px
    margin-right: 1px
  span.page.current,
  a:not(.disabled):hover
    background: $skinActiveColor
    color: #fff
  span.page.current
    font-weight: 600
  span.page.current:not(.disabled):hover
    background: $skinActiveColor
  .page.gap
    display: none

select
  border-radius: 3px
  border-color: #c9d0d6
  padding: 3px 0
  color: $textColor
  height: 25px
  width: 80%

.sidebar_section.panel
  background: $background
  border: 1px solid $borderColor
  box-shadow: none
  form .buttons
    background: $background
    margin: 25px -15px -15px
    padding: 10px 15px
  form fieldset
    margin-bottom: 0
  & > h3
    background: $panelHeaderBck
    color: $panelHeaderTextColor
    border: none
    margin: 0
    padding: 8px 15px
    box-shadow: none
    text-shadow: none
    font-weight: bold
  .filter_form_field
    label
      color: #95a5a6
      font-weight: normal
      font-size: $fontSize
      text-transform: uppercase
      font-family: $skinFontFamily
      padding: 7px 0
    select
      border-radius: 3px
      border-color: #c9d0d6
      padding: 3px 0
      color: $textColor
  .panel_contents
    .clear_filters_btn
      border-radius: 4px
      background: $background
      font-weight: 400
      font-size: $fontSize
      &:hover
        border-color: $skinActiveColor
        color: $skinActiveColor

.selectize-input
  background: $background
  border-radius: 3px
  border-color: #c9d0d6
  box-shadow: none
  color: $textColor
  padding: 4px 10px
  z-index: 0
  width: 80%

.sidebar .selectize-input
  width: 100%

.selectize-control.single .selectize-input, .selectize-dropdown.single
  border-color: #c9d0d6
  background: $background

#footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: #fff
  padding: 15px 30px
  font-size: $fontSize
  color: $skinTextTable
  border-top: 1px solid #d3d8dc
  p
    margin: 0
    padding: 0


form input[type=submit],
a.button,
a:link.button,
a:visited.button
  background: $skinActiveColor
  border: none
  border-radius: 4px
  box-shadow: none
  color: #fff
  font-size: $fontSize
  font-weight: 400
  padding: 10px 20px
  text-shadow: none
  &:hover
    background: lighten( $skinActiveColor, 10% ) !important
form fieldset.buttons li.cancel a,
form fieldset.actions li.cancel a,
form.filter_form a.clear_filters_btn
  background: $background
  box-shadow: none
  text-shadow: none
  padding: 10px 20px
  color: #95a5a6
  &:hover
    background: lighten( $background, 5% ) !important

form fieldset.inputs
  background: #fff
  border: 1px solid #d3d8dc
  position: relative
  padding-top: 50px
  box-shadow: none
  legend
    border-bottom: 1px solid #d3d8dc
    top: 0
    span
      background: #f0f4f5
      color: #5E6469
      border: none
      margin: 0
      padding: 8px 15px
      box-shadow: none
      text-shadow: none
      font-weight: bold
  ol > li
    label
      padding-top: 7px
      text-transform: uppercase
    &.boolean label
      padding-top: 0px
      margin-bottom: 15px

.panel
  background: #fff
  border: 1px solid #d3d8dc
  position: relative
  box-shadow: none
  > h3
    background: #f0f4f5
    color: $panelHeaderBck
    padding: 8px 15px
    box-shadow: none
    text-shadow: none
    font-weight: bold
    border-style: none none solid

.attributes_table table th, .attributes_table table td
  padding: 10px 0
  font-family: $skinFontFamily
  color: #95a5a6
.attributes_table table th
  font-weight: normal
  font-size: $fontSize
  text-transform: uppercase

.comments form.active_admin_comment fieldset.inputs
  border: none

html
  height: 100%
  min-height: 100%
body.logged_out
  height: 100%
  #footer
    display: none
  #content_wrapper
    margin-top: 150px
    #active_admin_content
      padding-bottom: 0
  #login
    form fieldset
      border: none
    > h2
      background: $panelHeaderBck
      font-family: $skinFontFamily
      color: #fff
      box-shadow: none
      padding: 8px 15px
    fieldset.actions
      background: #f1f5f6
      margin: 0 -30px -17px
      padding: 6px 30px
    a
      margin-top: -25px

  .flash
    background: #F2ECBF
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: 15px
    border-bottom: 1px solid #DEDE8B
    text-shadow: none


form input[type=text],
form input[type=password],
form input[type=email],
form input[type=number],
form input[type=url],
form input[type=tel],
form textarea
  font-family: $skinFontFamily
  padding: 5px 10px

form.filter_form .filter_form_field.filter_date_range input[type=text]
  background-position: 100% 4px

// Flash cards for errors, warning and alerts.
body.logged_in
  .flashes
    .flash
      position: fixed
      left: 20px
      bottom: 70px
      text-shadow: none
      border-radius: 5px
      font-weight: 400
      background-image: none
      padding: 20px 30px
      font-size: $fontSize
      border-style: none
      z-index: 100

strong, b
  font-weight: 600

.blank_slate_container .blank_slate
  color: #7f8c8d
  border: 0

form fieldset > ol > li fieldset ol li
  clear: both
  select
    margin-top: 6px